# build
BBlock0x.bb
BBlock0x.dos*.bb
Disk.info
HelloAmi
HelloAmi.adf
HelloAmi.info
Libs/icon.library
Libs/version.library
# custom
C/*
Libs/*

# dependencies
cstruct
vasm

# local
*.adf
*.bak
*.bat
*.bb
*.cmd
*.h68
*.idb
*.idc
*.lha
*.rp9
*-crop-*.png
*-full-*.png
*-real-*.png
Kickstarts
temp

