# build
BBlock0x.bb
Disk.info
HelloAmi
HelloAmi.adf
HelloAmi.info
Libs/icon.library
Libs/version.library

# dependencies
cstruct
vasm

# local
*.adf
*.bak
*.bat
*.cmd
*.h68
*.idb
*.idc
*.library
*.rp9
*.sh
*-crop-*.png
*-full-*.png
*-real-*.png
C/EndCLI
C/LoadWB

