* text=auto
*.adf binary
*.asm text eol=lf
*.bb binary
*.fs-uae text eol=lf
*.info binary
*.library binary
*.py text eol=lf
*.readme text working-tree-encoding=ISO-8859-1 eol=lf
S/Startup-Sequence text working-tree-encoding=ISO-8859-1 eol=lf
